# Ignore datasets
data/car_damage_all/
data/car_damage_yolo/
data/dataset1/
data/dataset2/
data/dataset3/

# Ignore YOLO runs and heavy files
models/runs/**/*.pt
models/runs/**/weights/
models/runs/**/results.png
models/runs/**/labels.jpg

# Ignore cache files
**/__pycache__/
*.cache
*.log

# Ignore venv
venv/
*.egg-info/